@model IEnumerable<BiblioSol.Shared.Dtos.PrestamosDtos.PrestamoDto>

@{
    ViewData["Title"] = "GetAllPrestamos";
}

<h1>Loans List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="FormSearchByIdPrestamo">Search by Id</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idPrestamo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.libroId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.diasRetraso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.penalizado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estadoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuarioCreacionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuarioMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idPrestamo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.libroId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diasRetraso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.penalizado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estadoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuarioCreacionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuarioMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.active)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.idPrestamo }) |
            </td>
        </tr>
}
    </tbody>
</table>
