@model IEnumerable<BiblioSol.Shared.Dtos.LibrosDtos.LibroDto>

@{
    ViewData["Title"] = "GetAllLibros";
}

<h1>List Book</h1>

<p>
    <a asp-action="AddLibro">Create New</a>
</p>
<p>
    <a asp-action="FormSearchByIdLibro">Search by Id</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idLibro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numeroPaginas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.autorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.editorialId)
            </th>
			<th>
				@Html.DisplayNameFor(model => model.anioPublicacion)
				</th>
            <th>
                @Html.DisplayNameFor(model => model.categoriaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estadoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idioma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuarioCreacionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuarioMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idLibro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numeroPaginas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.autorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.editorialId)
            </td>
                            <td>
                    @Html.DisplayFor(modelItem => item.anioPublicacion)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoriaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estadoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idioma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuarioCreacionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuarioMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.active)
            </td>
            <td>
                    @Html.ActionLink("Edit", "UpdateLibroById", new { id = item.idLibro })
            </td>
        </tr>
}
    </tbody>
</table>
