@model BiblioSol.Shared.Dtos.LibrosDtos.LibroDto

@{
    ViewData["Title"] = "GetLibroById";
}

<h1>Book Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idLibro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idLibro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numeroPaginas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numeroPaginas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isbn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.autorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.autorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.editorialId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.editorialId)
        </dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.anioPublicacion)
			</dt>
			<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.anioPublicacion)
			</dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoriaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoriaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estadoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estadoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idioma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idioma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuarioCreacionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuarioCreacionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuarioMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuarioMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.active)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="GetAllLibros">Back to List</a>
</div>
