@model BiblioSol.Shared.Dtos.EstadoDtos.EstadoDto

@{
    ViewData["Title"] = "GetEstadoById";
}

<h1>Status Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuarioCreacionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuarioCreacionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuarioMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuarioMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.active)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="GetAllEstados">Back to List</a>
</div>
